{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>About</h2>
          </div>
          <div class="row">


            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
              <img src="/media/shop/images/portfolio-4.jpg" class="img-fluid" alt="">
            </div>


            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
              <h3>Kala ChashMa</h3>
              <p class="fst-italic">
                Stylish and fashionable
              </p>
              <ul>
                <li>
                  <i class="bx bx-store"></i>
                  <div>
                    <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                    <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                  </div>
                </li>
                <li>
                  <i class="bx bx-images"></i>
                  <div>
                    <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                    <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
                  </div>
                </li>
              </ul>
              <p>
                ADD to cart
              </p>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->

{% endblock %}