<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{% block title%} {% endblock %}</title>
     
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">My Awesome Cart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
  {% block body %} {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>



<!-- JavaScript code -->
<script>
    // Function to update the quantity when the "+" or "-" buttons are clicked
    function updateQuantity(btn, increment) {
      var productData = btn.parentElement;
      var quantityInput = productData.querySelector('.prod_quant');
      var currentQuantity = parseInt(quantityInput.value, 10); // Parse the quantity as an integer with radix 10
      var newQuantity = currentQuantity + increment;
  
      // Ensure the quantity is not less than 1
      if (newQuantity < 1) {
        newQuantity = 1;
      }
  
      quantityInput.value = newQuantity;
    }
  
    // Function to handle the "-" button click
    document.querySelectorAll('.decrement-btn').forEach(function(btn) {
      btn.addEventListener('click', function() {
        updateQuantity(this, -1); // Decrease the quantity by 1
      });
    });
  
    // Function to handle the "+" button click
    document.querySelectorAll('.increment-btn').forEach(function(btn) {
      btn.addEventListener('click', function() {
        updateQuantity(this, 1); // Increase the quantity by 1
      });
    });
  
  
    // Adding Cart
  
      if(localStorage.getItem('add-to-cart') == null)
      {
      var cart={};
      }
      else{
      cart= JSON.parse(localstorage.getItem('add-to-cart'));
      }
      //jQuery starts here//
      $('.add-to-cart').click(function(){
  
      console.log('clicked');
      });
  
  
      $('.cart').click(function(){
  
        console.log('clicked');
        var idstr= this.id.toString();
        console.log(idstr);
        if(cart[idstr]!= undefined) {
        cart[idstr] = cart[idstr]+1;
        }
        else{
        cart[idstr] = 1;
        }
        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));
        });
  </script>