
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body class="bg-gray-100">
    
    <nav class="bg-primary" style="background-color: #b17755;">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Reset PassWord</a>
            <ul class="right">
                Reset PassWord
                <li><a href="/SiteAuth/signup" class="label-icon">
                    <i class="material-icons">login</i>
                  </a></li>
            </ul>
            </div>
        </div>
    </nav>
    <br><br><br><br>
    
        <div class="container">
                <div>
                    <style>
                        h5{
                            color: red;
                        }
                    </style>
                    {% for message in messages %}
                        <h5>{{ message }}</h5>
                    {% endfor %}
                </div>
            <div class="container">
                <div class="row" style="margin-top: 100px;">
                    <div class="col s12 m4">
                        <h2 class="lg:text-3xl text-xl font-semibold  mb-6"> Reset</h2>
                    </div>
                    <form action="{% url 'set-new-password' uidb64 token %}" method="POST" class="col s12 m8">
                        {% csrf_token %}                          
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock_open</i>
                            <input id="password" type="password" name="password"  placeholder="Password"  class="validate">
                            <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock</i>
                            <input id="password" type="password" name="password2" placeholder="Confirm Password"  class="validate">
                            <label for="password">Confirm Password</label>
                            </div>
                        </div>
                      
                            <div class="container" >
                                <button type="submit" class="btn-small" style="background-color: #477091!important;">click</button>
                            </div>

                            <div class="container">
                                <div class="flex justify-between my-4">
                                    <a href="/SiteAuth/login/" style="font-size: larger;"> Go Back</a>
                                </div>
                            </div>
                    </form>
                </div>
                
            </div>
            <br><br><br><br><br><br>
    </div>
        
        
        <!-- Footer -->
        <footer class="page-footer bg-primary" style="background-color: #b17755;">
            <div class="container">
                <div class="flex space-x-2 text-gray-700 uppercase">
                    <a href="#" style="color: black;"> About</a>
                    <a href="#" style="color: black;"> Help</a>
                    <a href="#" style="color: black;"> Terms</a>
                    <a href="#" style="color: black;"> Privacy</a>
                </div>
                <p class="capitalize"> © copyright 2020 by socol</p>
            </div>
               
          </footer>
        </div>


          <script>    
            M.AutoInit();
        </script>
        
        
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</body>
</html>